@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 60px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background: #03a9f4;
}
.navigation ul li:nth-child(1){
    margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover{
    background: transparent;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon .fas{
    color: #fff;
    font-size: 24px;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    Left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 60px);
    left: 60px;
}
.main .topbar{
    display: flex;
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.toggle .fa-bars{
    line-height: 60px;
    font-size: 24px;
    text-align: center;
}
.toggle::before{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #111;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid rgb(0, 0, 0, 0.2);
}
.search label .fas{
     position: absolute;
     left: 15px;
     top: 4px;
}
.user{
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Sub Menu */
.sub-menu-wrap{
    position: absolute;
    top: 6%;
    right: 0%;
    width: 280px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 150px;
}
.sub-menu{
    background: #003147;
    color: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 10px 0;
}
.status{
    position: relative;
    padding: 2px 4px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.delivered{
    background: #8de02c;
}
.pending{
    background: #f9ca3f;
}
.return{
    background: #f00;
}
.inprogress{
    background: #1795ce;
}

/* Responsive */

@media (max-width: 992px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        width: calc(100% - 300px);
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2{
        font-weight: 600;
        font-size: 18px;
    }
}
@media (max-width: 480px){
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
    .details .recentOrders{
        overflow-x: auto;
    }
    .details .recentOrders table{
        width: 600px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle.active{
        position: fixed;
        z-index: 10000;
        right: 0;
        left: initial;
    }
    .toggle.active .fa-bars::before{
        color: #fff;
    }
    .main,
    .main.active{
        width: 100%;
        left: 0;
    }
}
.user-table{
    position: relative;
    width: 100%;
    padding: 20px;
}
.user-table .inside-table{
    position: relative;
    width: 100%;
    padding: 20px;
    background: #fff;
}
.user-table .inside-table .userHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-table .inside-table .userHeader .search-box{
    font-weight: 600;
    font-size: 16px;
}
.user-table .inside-table .userHeader .search-box input{
    width: 120px;
    border-radius: 8px;
    margin: 0 10px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    justify-content: center;
}
.user-table .inside-table .userHeader .search-box button{
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 20px;
    background: #423ff9ea;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}
.user-table .inside-table .userHeader h2{
    font-size: 30px;
    font-weight: 600;
}
.user-table .inside-table table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.user-table .inside-table table tr{
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.user-table .inside-table table tr td{
    padding: 9px 5px;
}
.user-table .inside-table table thead td{
    font-weight: 600;
}
.user-table .inside-table table tbody tr:last-child{
    border-bottom: none;
}
.user-table .inside-table table thead span{
    margin: 0 10px;
    cursor: pointer;
}
.user-table .inside-table table thead span i.reverse::before{
    content: "\f0ab";
}
.user-table .inside-table table tbody tr:hover{
    background: rgb(0, 0, 0, 0.1);
}
.user-table .inside-table table tbody tr:hover .detail{
    background: rgba(0, 0, 0, 0.001);
}
.detail{
    font-size: 24px;
    color: #03a9f4;
    background: #fff;
    border: none;
    cursor: pointer;
}
.order-popup{
    position: relative;
    display: none;
}
.order-popup.active{
    display: block;
}
.order-popup .bg-shadow{
    position: fixed;
    top: 0;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.order-details{
    position: relative;
    background: #fff;
    max-width: 700px;
    width: 100%;
    left: 50%;
    padding: 15px;
    border-radius: 8px;
    transform: translate(-50%, 8%);
    animation: modalShow 0.5s linear;
}
.order-details .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    border: 0;
    cursor: pointer;
}
.order-details .order-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}
.order-details .order-header .logo-image{
    width: 100px;
    height: 100px;
}
.order-details .order-header .order-id{
    font-size: 20px;
    font-weight: 600;
    color: #423ff9ea;
}
.order-details .order-body{
    margin: 20px 0;
    padding: 10px;
}
.order-details .order-body .user-info{
    margin: 20px 0;
}
.order-details .order-body .user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}
.order-details .order-body .user-info div p:first-child{
    font-size: 24px;
    font-weight: 600;
    color: #1795ce;
}
.order-details .order-body .user-info div p:nth-child(2){
    font-size: 18px;
    font-weight: 600;
}
.order-details .order-body .product-info{
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}
.order-details .order-body .product-info table{
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}
.product-info table thead td{
    font-weight: 600;
    font-size: 18px;
}
.product-info table tr{
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.product-info table tbody tr:last-child{
    border-bottom: none;
}
.product-info table tr td{
    padding: 9px 5px;
}
.product-info table thead tr td:nth-child(3),
.product-info table tbody tr td:nth-child(3){
    text-align: center;
}
.product-info table thead tr td:last-child,
.product-info table tbody tr td:last-child{
    text-align: right;
}
.order-body .price{
    display: flex;
    justify-content: end;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}
.order-body .summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    margin: 30px 0;
    width: 50%;
}
.order-body .summary p {
    padding: 9px 5px;
}
.order-body .summary .sum-title{
    font-size: 18px;
    font-weight: 600;
    width: 50%;
    text-align: left;
}
.order-body .summary .total-price{
    font-size: 18px;
    width: 50%;
    text-align: right;
}
.order-foot{
    margin: 20px 0 0 0;
}
.order-foot .note p{
    font-size: 18px;
}
.order-foot .note span{
    font-weight: 600;
    color: #f00;
}
@keyframes modalShow {
    from {
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, 8%);
        opacity: 1;
    }
}
.select-status select{
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    width: 155px;
    border: none;
    outline: none;
    cursor: pointer;
}