@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 60px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background: #03a9f4;
}
.navigation ul li:nth-child(1){
    margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover{
    background: transparent;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon .fas{
    color: #fff;
    font-size: 24px;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    Left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 60px);
    left: 60px;
}
.main .topbar{
    display: flex;
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.toggle .fa-bars{
    line-height: 60px;
    font-size: 24px;
    text-align: center;
}
.toggle::before{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #111;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid rgb(0, 0, 0, 0.2);
}
.search label .fas{
     position: absolute;
     left: 15px;
     top: 4px;
}
.user{
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sub-menu-wrap{
    position: absolute;
    top: 6%;
    right: 0%;
    width: 280px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 150px;
}
.sub-menu{
    background: #003147;
    color: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 10px 0;
}

/* Admin page */
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.cardBox .card{
    position: relative;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.cardBox .card .numbers{
    position: relative;
    font-size: 2em;
    font-weight: 500;
}
.cardBox .card .cardName{
    color: #999;
}
.cardBox .card .iconBox{
    font-size: 2.5em;
    color: #03a9f4;
}
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
}
.details .recentOrders{
    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
}
.btn{
    position: relative;
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
}
.details .recentOrders table tr{
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.details .recentOrders table tbody tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover{
    background: #03a9f4;
    color: #fff;
}
.details .recentOrders table tr td{
    padding: 9px 5px;
}
.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child{
    text-align: right;
}
.details .recentOrders table thead tr td:nth-child(2),
.details .recentOrders table tbody tr td:nth-child(2){
    text-align: center;
    padding-right: 20px;
}
.status{
    position: relative;
    padding: 2px 4px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.delivered{
    background: #8de02c;
}
.pending{
    background: #f9ca3f;
}
.return{
    background: #f00;
}
.inprogress{
    background: #1795ce;
}
.details .recentCustomers{
    position: relative;
    display: grid;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}
.details .recentCustomers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.details .recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details .recentCustomers table tr:hover td h4 span,
.details .recentCustomers table tr:hover{
    background: #03a9f4;
    color: #fff;
}
.details .recentCustomers table tr td{
    padding: 7px 10px;
}
.details .recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.details .recentCustomers table tr td h4 span{
    font-size: 14px;
    color: #999;
}

/* Responsive */

@media (max-width: 992px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        width: calc(100% - 300px);
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2{
        font-weight: 600;
        font-size: 18px;
    }
}
@media (max-width: 480px){
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
    .details .recentOrders{
        overflow-x: auto;
    }
    .details .recentOrders table{
        width: 600px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle.active{
        position: fixed;
        z-index: 10000;
        right: 0;
        left: initial;
    }
    .toggle.active .fa-bars::before{
        color: #fff;
    }
    .main,
    .main.active{
        width: 100%;
        left: 0;
    }
}

/* User page */
.user-table{
    position: relative;
    width: 100%;
    padding: 20px;
}
.user-table .inside-table{
    position: relative;
    width: 100%;
    padding: 20px;
    background: #fff;
}
.user-table .inside-table .userHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.user-table .inside-table .userHeader .add-user{
    position: relative;
    font-size: 18px;
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.user-table .inside-table .userHeader .add-product{
    position: relative;
    font-size: 18px;
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.user-table .inside-table .userHeader h2{
    font-size: 30px;
    font-weight: 600;
}
.user-table .inside-table table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.user-table .inside-table table tr{
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.user-table .inside-table table tr td{
    padding: 9px 5px;
}
.user-table .inside-table table thead td{
    font-weight: 600;
}
.user-table .inside-table table tbody tr:last-child{
    border-bottom: none;
}
.user-table .inside-table table tbody tr:hover{
    background: rgb(0, 0, 0, 0.1);
}
.user-table .inside-table table tbody tr:hover .edit-btn{
    background: rgba(0, 0, 0, 0.001);
}
.user-table .inside-table table tbody tr:hover .delete-btn{
    background: rgb(0, 0, 0, 0.001);
}
.user-table .inside-table table tbody tr:hover .lock-btn{
    background: rgb(0, 0, 0, 0.001);
}
.tools{
    display: flex;
    gap: 15px;
}
.tools .edit-btn{
    font-size: 24px;
    color: #03a9f4;
    background: #fff;
    border: none;
    cursor: pointer;
}
.tools .delete-btn{
    font-size: 24px;
    color: #f00;
    background: #fff;
    border: none;
    cursor: pointer;
}
.tools .lock-btn{
    font-size: 24px;
    color: #f9ca3f;
    background: #fff;
    border: none;
    cursor: pointer;
}
/* Pagination */
.listPage{
    padding: 10px;
    text-align: center;
    list-style: none;
}
.listPage li{
    background-color: #ffffffBD;
    padding: 10px 15px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
.listPage .active{
    background-color: #B192EF;
    color: #fff;
}
/* Delete Popup */
.delete-popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;
    display: none;
}
.delete-popup.active{
    display: block;
}
.delete-popup .popup{
    position: relative;
    background: #fff;
    max-width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: modalShow 0.5s linear;
}
.delete-popup .popup .popup-head{
    padding: 20px;
    padding-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    position: relative;
}
.delete-popup .popup .popup-head .popup-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    border: 0;
    cursor: pointer;
}
.delete-popup .popup .popup-head .popup-close-btn:hover{
    opacity: 0.6;
}
.delete-popup .popup .popup-body{
    padding: 20px;
    font-size: 18px;
    line-height: 20px;
}
.delete-popup .popup .popup-foot{
    display: flex;
}
.delete-popup .popup .popup-foot .popup-btn{
    width: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.delete-popup .popup .popup-foot .popup-cancel-btn{
    background: #f00;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.delete-popup .popup .popup-foot .popup-cancel-btn:hover{
    opacity: 0.7;
}
.delete-popup .popup .popup-foot .popup-confirm-btn{
    background: #00c06d;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.delete-popup .popup .popup-foot .popup-confirm-btn:hover{
    opacity: 0.7;
}
@keyframes modalShow {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}
/* Lock Popup */
.lock-popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;
    display: none;
}
.lock-popup.active{
    display: block;
}
.lock-popup .l-popup{
    position: relative;
    background: #fff;
    max-width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: modalShow 0.5s linear;
}
.lock-popup .l-popup .l-popup-head{
    padding: 20px;
    padding-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    position: relative;
}
.lock-popup .l-popup .l-popup-head .l-popup-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    border: 0;
    cursor: pointer;
}
.lock-popup .l-popup .l-popup-head .l-popup-close-btn:hover{
    opacity: 0.6;
}
.lock-popup .l-popup .l-popup-body{
    padding: 20px;
    font-size: 18px;
    line-height: 20px;
}
.lock-popup .l-popup .l-popup-foot{
    display: flex;
}
.lock-popup .l-popup .l-popup-foot .l-popup-btn{
    width: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.lock-popup .l-popup .l-popup-foot .l-popup-cancel-btn{
    background: #f00;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.lock-popup .l-popup .l-popup-foot .l-popup-cancel-btn:hover{
    opacity: 0.7;
}
.lock-popup .l-popup .l-popup-foot .l-popup-confirm-btn{
    background: #00c06d;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.lock-popup .l-popup .l-popup-foot .l-popup-confirm-btn:hover{
    opacity: 0.7;
}
/* Add Popup */
.add-popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;
    display: none;
}
.add-popup.active{
    display: block;
}
.add-popup .a-popup{
    position: relative;
    background: #fff;
    max-width: 700px;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 25px;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    animation: modalShow 0.5s linear;
}
.add-popup .a-popup .a-popup-head{
    padding-bottom: 0;
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    text-align: center;
}
.add-popup .a-popup .a-popup-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    border: 0;
    cursor: pointer;
}
.add-popup .a-popup .form{
    margin-top: 30px;
}
.form .input-box{
    width: 100%;
    margin-top: 20px;
}
.input-box label{
    color: #333;
    font-weight: 600;
}
.form .input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.form .group-btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    column-gap: 20px;
}
.form .add-button button{
    height: 55px;
    width: 100px;
    background: #03a9f4;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}
.form .add-button button:hover{
    background-color: #037bf4;
}
.form .cancel-button button{
    height: 55px;
    width: 100px;
    background: rgb(255, 0, 0);
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}
.form .cancel-button button:hover{
    background-color: rgba(255, 0, 0, 0.571);
}
/* Edit Popup */
.edit-popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;
    display: none;
}
.edit-popup.active{
    display: block;
}
.edit-popup .e-popup{
    position: relative;
    background: #fff;
    max-width: 700px;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 25px;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    animation: modalShow 0.5s linear;
}
.edit-popup .e-popup .e-popup-head{
    padding-bottom: 0;
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    text-align: center;
}
.edit-popup .e-popup .e-popup-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    border: 0;
    cursor: pointer;
}
.edit-popup .e-popup .form{
    margin-top: 30px;
}
.edit-popup .e-popup .form .input-box{
    width: 100%;
    margin-top: 20px;
}
.edit-popup .e-popup .form .input-box label{
    color: #333;
    font-weight: 600;
}
.edit-popup .e-popup .form .input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.edit-popup .e-popup .form .e-group-btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    column-gap: 20px;
}
.edit-popup .e-popup .form .edit-button button{
    height: 55px;
    width: 100px;
    background: #03a9f4;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}
.edit-popup .e-popup .form .edit-button button:hover{
    background-color: #037bf4;
}
.edit-popup .e-popup .form .e-cancel-button button{
    height: 55px;
    width: 100px;
    background: rgb(255, 0, 0);
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}
.edit-popup .e-popup .form .e-cancel-button button:hover{
    background-color: rgba(255, 0, 0, 0.571);
}